.wrapper {
    z-index: -1;
    background-color: wheat;
    width: 100%;
    padding-top: 75px;
    height: max-content;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 40px);
    grid-template-areas: 
    ". . . tl tl tl tl tl tl . . sb"
    ". . . tl tl tl tl tl tl . . ."
    ". . . . ht ht ht ht . . . ."
    ". gi gi . ht ht ht ht . end . ."
    ". gi gi . ht ht ht ht . end . ."
    ". gi gi . ht ht ht ht . . eb eb"
    ". . . . . ps ps . . . eb eb"
    ". . . . . ps ps . . . ab ab"
    ". . . . pb pb pb pb . . ab ab";
}

.game-image {
    grid-area: gi;
}

.game-image img {
    width: 100%;
    border: 2px solid black;
}

.title {
    background-color: #B4C7E7;
    border-radius: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: auto;
    padding: 50px;
    grid-area: tl;
}

.home-text {
    background-color: #FFC000;
    grid-area: ht;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.player-select {
    grid-area: ps;
    background-color: #B4C7E7;
    font-size: 19px;
}

.play-button {
    background-color: darkgreen;
    border-radius: 5px;
    grid-area: pb;
    height: 100px;
}

.settings-button {
    grid-area: sb;
    cursor: pointer;
}

.explanation-button {
    background-color: #8FAADC;
    border-radius: 20px;
    grid-area: eb;
}

.about-us-button {
    background-color: #8497B0;
    border-radius: 20px;
    grid-area: ab;
}

.settings-tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(auto, 100px);
    grid-template-areas: 
    "sb sb sb"
    "ct1 . ct2"
    "g . cs"
    "g . cs"
    "bg . .";
    gap: 15px;
    grid-column: gi-end / end-start;
    grid-row: ht-start / pb-end;
    height: 750px;
    z-index: 1;
    border-radius: 5px;
    border: 3px solid black;
    opacity: 0;
    background-color: lightgray;
    text-align: center;
    transition: 1s;
    margin-top: -200px;
}

.settings-tab h1 {
    background-color: #B4C7E7;
    grid-area: sb;
}

.settings-tab h2 {
    background-color: #FFD966;
}

#settings-div2 {
    grid-area: ct2;
}

.grid-modify {
    background-color: wheat;
    grid-area: g;
    font-size: 20px;
}

.computer-settings {
    background-color: wheat;
    grid-area: cs;
    font-size: 20px;
    text-align: left;
}

.settings-tab {
    display: none;
}