.wrapper {
    z-index: -1;
    background-color: wheat;
    width: 100%;
    padding-top: 75px;
    height: max-content;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 40px);
    grid-template-areas: 
    ". . . tl tl tl tl tl tl . . sb"
    ". . . tl tl tl tl tl tl . . ."
    ". . . . ht ht ht ht . . . ."
    ". gi gi . ht ht ht ht . end . ."
    ". gi gi . ht ht ht ht . end . ."
    ". gi gi . ht ht ht ht . . eb eb"
    ". . . . ps ps ps ps . . eb eb"
    ". . . . ps ps ps ps . . ab ab"
    ". . . . pb pb pb pb . . ab ab";
}

.game-image {
    grid-area: gi;
}

.game-image img {
    width: 100%;
    border: 2px solid black;
}

.title {
    background-color: #B4C7E7;
    border-radius: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin: auto;
    padding: 50px;
    grid-area: tl;
}

.home-text {
    background-color: #FFC000;
    grid-area: ht;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.player-select {
    grid-area: ps;
    background-color: #B4C7E7;
    font-size: 19px;
    text-align: left;
}

.player-names {
    margin-top: 10px;
}

.large-selection {
    height: 18px;
    width: 18px;
}

.play-button {
    background-color: darkgreen;
    border-radius: 5px;
    grid-area: pb;
    height: 100px;
}

.settings-button {
    grid-area: sb;
    cursor: pointer;
}

.explanation-button {
    background-color: #8FAADC;
    border-radius: 20px;
    grid-area: eb;
}

.about-us-button {
    background-color: #8497B0;
    border-radius: 20px;
    grid-area: ab;
}

.explanation-tab {
    display: grid;
    grid-auto-rows: minmax(25px, auto);
    grid-template-areas: 
    "tl"
    "."
    "ct"
    "ct"
    "ct";
    grid-column: 1 / gi-end;
    grid-row: 2 / pb-end;
    gap: 15px;
    height: 850px;
    z-index: 2;
    border-radius: 5px;
    border: 3px solid black;
    opacity: 0;
    background-color: lightgray;
    text-align: center;
    transition: 2s;
    margin-top: -225px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.explanation-tab h1 {
    background-color: #B4C7E7;
    grid-area: tl;
}

.explanation-tab p {
    background-color: #F5F5DC;
}

.settings-tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, 150px);
    grid-template-areas: 
    "sb sb sb"
    "ct1 . ct2"
    "g . cs"
    "g . cs"
    "bg . .";
    gap: 15px;
    grid-column: gi-end / end-start;
    grid-row: ht-start / pb-end;
    height: 750px;
    z-index: 1;
    border-radius: 5px;
    border: 3px solid black;
    opacity: 0;
    background-color: lightgray;
    text-align: center;
    transition: 1s;
    margin-top: -225px;
}

.settings-tab h1 {
    background-color: #B4C7E7;
    grid-area: sb;
}

.settings-tab h2 {
    background-color: #FFD966;
    border: 2px solid #a07800;
    border-radius: 3px;
}

#settings-div2 {
    grid-area: ct2;
}

.grid-modify {
    background-color: wheat;
    grid-area: g;
    font-size: 20px;
}

.computer-settings {
    background-color: wheat;
    grid-area: cs;
    font-size: 20px;
    text-align: left;
}

.settings-tab {
    display: none;
}

.custom-popup {
    grid-column: tl 2 / tl 5;
}