.wrapper {
    width: 800px;
    height: 800px;
    margin: auto;
}

.tictactoe-field {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 800px;
    width: 800px;
    background-color: bisque;
}

.block1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid-item {
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    border: 1px solid black;
}

.grid-item:hover {
    background-color: beige;
}

.hover-opacity {
    opacity: 0.5;
}

.home-button {
    background-color: rgb(255, 181, 91);
    height: 70px;
    width: 150px;
    font-size: 20px;
    display: block;
    border-radius: 1px;
    border: 3px double black;
    cursor: pointer;
    transition: 2s;
}

.home-button:hover {
    background-color: blanchedalmond;
}