.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "pf pf pf"
    "pf pf pf"
    "pf pf pf";
    width: 600px;
    height: 600px;
    margin: auto;
}

.tictactoe-field {
    grid-area: pf;
    display: grid;
    background-color: bisque;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "b1 b2 b3"
    "b4 b5 b6"
    "b7 b8 b9";
    height: 600px;
    width: 600px;
}

.block1 {
    grid-area: b1;
}

.block2 {
    grid-area: b2;
}

.block3 {
    grid-area: b3;
}

.block4 {
    grid-area: b4;
}

.block5 {
    grid-area: b5;
}

.block6 {
    grid-area: b6;
}

.block7 {
    grid-area: b7;
}

.block8 {
    grid-area: b8;
}

.block9 {
    grid-area: b9;
}

.grid-item {
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    border: 1px solid black;
}

.grid-item:hover {
    background-color: beige;
}

.hover-opacity {
    opacity: 0.5;
}

.custom-popup {
    grid-column: cp-start / cp-end;
    grid-row: cp-start / pf-start;
}