.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "pf pf pf"
    "pf pf pf"
    "pf pf pf";
    width: 800px;
    height: 800px;
    margin: auto;
}

.tictactoe-field {
    grid-area: pf;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 800px;
    width: 800px;
    background-color: rgba(255, 228, 196, 0.5);
}

.block1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid-item {
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    border: 1px solid black;
}

.grid-item:hover {
    background-color: beige;
}

.hover-opacity {
    opacity: 0.5;
}

.custom-popup {
    grid-column: cp-start / cp-end;
    grid-row: cp-start / pf-start;
}