.invisible {
    display: none;
}

.page-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(25px, auto);
    grid-template-areas: 
    "hb hb . cp cp cp . rb rb"
    ". . . . . . . . ."
    ". . pf pf pf pf . . ."
    "p1 . pf pf pf pf . . p2"
    "p1 . pf pf pf pf . . p2"
    ". . pf pf pf pf . . .";
}

.custom-popup {
    grid-column: cp-start / cp-end;
    grid-row: cp-start / pf-start;
    background-color: gray;
    color: lightgray;
    border: 5px double lightgray;
    border-radius: 15px;
    opacity: 0;
    transition: 2s;
}

.popup-close {
    height: 30px;
    width: 50px;
    float: right;
    margin-top: 80px;
    border-radius: 10px;
    background-color: green;
}

.wrapper {
    grid-area: pf;
    margin-top: 20px;
}

.reset-popup {
    display: none;
    grid-column: pf-start / pf-end;
    grid-row: pf-start / pf-end;
    z-index: 5;
    padding: 50px;
    padding-top: 0px;
    text-align: center;
    background-color: lightgray;
    border: 3px solid darkgray;
}

.reset-popup button {
    height: 100px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.reset-confirm {
    margin-top: 50px;
    margin-right: 100px;
    background-color: green;
    color: lime;
}

.reset-deny {
    background-color: red;
    color: rgb(255, 203, 107);
}

.reset-button {
    grid-area: rb;
    height: 75px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: maroon;
    color: lightsalmon;
    transition: 3s;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.reset-button:hover {
    background-color: lightsalmon;
    color: maroon;
}

.home-button {
    grid-area: hb;
    background-color: rgb(255, 181, 91);
    font-size: 20px;
    display: block;
    border-radius: 1px;
    border: 3px double black;
    cursor: pointer;
    transition: 2s;
    height: 75px;
    max-width: 200px;
}

.home-button:hover {
    background-color: blanchedalmond;
}

.player1-info {
    grid-area: p1;
    background-color: lightblue;
}

.player2-info {
    grid-area: p2;
    background-color: rgb(240, 157, 157);
}